

h1 {
	text-align: center;
	margin: 40px auto;
	font-size: 60px;
}
#status{
	text-align: center;
	font-size: 40px;
}
.facebook {
	text-align: center;
	margin-top: 100px;
}

canvas {
	margin: 0 auto;
}
.graph{
	margin : 20 auto;
	text-align: center;
	border-width: 2px;
	width: 200px;
	height : 40px;
}