

h1 {
	text-align: center;
	margin: 40px auto;
	font-size: 60px;
}
#status{
	text-align: center;
	font-size: 40px;
}
.facebook {
	text-align: center;
	margin-top: 100px;
}

canvas {
	margin: 0 auto;
}
#graph{
	text-align: center;
}
#graphbtn{
	text-align: center;
	margin: 20px auto;
	width: 100px;
	height: 40px;
	background-color: 'red';
	color: 'white';
}